<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All vacations list</title>
</head>
<style>
    body {
        background: #faebd8;
        width: 100%;
        height: 100%;
    }
</style>
<body>
    <center>
    <h1>All Contacts</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Vacation start date</th>
            <th>Vacation end date</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.startvac }}</td>
            <td>{{ contact.endvac }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/" style="text-decoration: none;">
        <button>Back</button>
    </a>
    </center>
</body>
</html>
